<a href="https://colab.research.google.com/github/DeuklyoungKo/TensorFlowBasicWithPython/blob/main/convolutionWidthPoolingLayer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
#데이터를 준비
(x_train, y_train), _ = tf.keras.datasets.mnist.load_data()
print(x_train.shape, y_train.shape)

x_train = x_train.reshape(60000,28,28,1)
y_train = pd.get_dummies(y_train)
print(x_train.shape, y_train.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [ ]:
#모델 만들기
X = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation="swish")(H)
Y = tf.keras.layers.Dense(10, activation="softmax")(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
# 모델을 학습하고
model.fit(x_train, y_train, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.3253 - accuracy: 0.9342
Epoch 2/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0753 - accuracy: 0.9790
Epoch 3/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0470 - accuracy: 0.9865
Epoch 4/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0317 - accuracy: 0.9908
Epoch 5/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0255 - accuracy: 0.9923
Epoch 6/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0206 - accuracy: 0.9940
Epoch 7/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0189 - accuracy: 0.9946
Epoch 8/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0146 - accuracy: 0.9956
Epoch 9/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0145 - accuracy: 0.9960
Epoch 10/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0131 - accuracy: 0.9963

In [ ]:
# 모델을 이용
pred = model.predict(x_train[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
y_train[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d_2 (Conv2D)           (None, 24, 24, 3)         78

 conv2d_3 (Conv2D)           (None, 20, 20, 6)         456

 flatten_1 (Flatten)         (None, 2400)              0

 dense_2 (Dense)             (None, 84)                201684

 dense_3 (Dense)             (None, 10)                850

=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________